@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
  background-color: #303030;

}

*, *:before, *:after {
  box-sizing: inherit;  
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.everything {
   overflow: hidden;
  height: 100vh;
  width: 100%;
}

.portrait {
  width: 200%;
}

.soc-med-icons {
  background-color: orange;
  width: 100%;
  list-style-type: none;
}

.soc-med-icons li {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  left: 0;
  height: 2em;
}

.facebook {
  background-image: url("../images/facebook.svg");
  background-repeat: no-repeat;
  width: 10%;
  height: 1em;
}

.instagram {
  background-image: url("../images/instagram.svg");
  background-repeat: no-repeat;
  width: 10%;
  height: 1em;
}

.behance {
  background-image: url("../images/behance.svg");
  background-repeat: no-repeat;
  width: 10%;
  height: 1em;
}






@media only screen and (min-width: 25em) {
  
  .portrait {
  width: 100%;
  position: relative;
    top: -4em;
}
  
}

@media only screen and (min-width: 38em) {
  
    .portrait {
  width: 200%;
}
}

@media only screen and (min-width: 60em) {
  
      .portrait {
  width: 115%;
}
}