@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  
  background-color: #202020;

}

*, *:before, *:after {
  box-sizing: inherit;  
}

body {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.everything {
  overflow: hidden;
  width: 100%;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
  color: #CB8A64;
  text-align: center;
  top: 6em;
}

.text {
  padding: 5%;
  position: relative;
  bottom: -1em;
}

.portrait {
  position: relative;
  width: 100%;
}

.instagram {
  padding: 10px;
  margin: 0em;
}

.soc-med-icons {
  text-align: center;
  font-weight: 200;
}

.soc-med-icons a {
  display: inline-block;
  text-decoration: none;
  color: #CB8A64;
}

@media only screen and (min-width: 22em) {
  
  .portrait {
    width: 100%;
    top: -12em;
    margin: 0;
  }
  
  h1 {
    top: 0;
  }
  
  .text {
    position: relative;
    bottom: 12em;
  }
  
  .soc-med-icons a {
    position: relative;
    top: -16em;
  }
  
  .instagram {
    margin: 3em;
  }
}

@media only screen and (min-width: 38em) {
  
  .portrait {
    width: 200%;
    top: 0;
  }
  
  .text {
    bottom: -2em;
  }
  
  .soc-med-icons a {
    top: 5.25em;
  }
  
  .instagram {
    margin: 2em;
  }
}


@media only screen and (min-width: 60em) {
  
  .portrait {
    width: 140%;
    top: -10em;
  }
  
  .text {
    bottom: 12em;
  }
  
  .soc-med-icons a {
    top: -6.25em;
  }
  
  .instagram {
    margin: 0.5em;
  }
  
  .grid {
    height: 1em;
  }
}

@media only screen and (min-width: 80em) {
  
  .portrait {
    width: 120%;
  }
  
  .soc-med-icons a {
    top: -5.75em;
  }
}